table {
  margin-top: 15px;
}

table,
td,
th {
  border: 1px solid #333;
}

td,
th {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #eee;
}

th {
  background-color: #555;
  color: #fff;
}

section,
div {
  margin: 15px 0;
}

button,
input {
  padding: 5px;
}

button:disabled {
  cursor: not-allowed;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 5px;
}

.link {
  display: block;
  margin: 20px 0;
}
