table {
  margin-top: 15px;
}

table,
td,
th {
  border: 1px solid #333;
}

td,
th {
  padding: 5px;
}

th {
  background-color: #eee;
}

section,
div {
  margin: 15px 0;
}

button:disabled {
  cursor: not-allowed;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 5px;
}
